body {
    font-family: oxygen,sans-serif;
    background: #F0EDE3;
    color: #33290A;
    margin:0;
}

.password{
    margin:2em auto;
    font-size:2em;
}

.pw{
    margin:2em;
}

.subject {
    width: 100%;
    padding: 15px;
    background: #FFF;
    border-bottom: solid 10px #ff69b4;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.35);
    margin: 0 0 30px 0;
}

.subjectTitle{
    font-size: 2em;
    line-height:2em;
    color: #FFF;
    background: #db7093;
    display: inline-block;
    padding: 7px 15px 5px 10px;
    margin-bottom: 5px;
    border-radius: 0 1.4rem 1.4rem 0;
    border-left: solid 5px #dc143c;
}

.subjectLinks a {
    font-size: 16px;
    margin: 0 10px;
    line-height: 53px;
}

.code {
    font-size: 16px;
    margin: 0 10px;
    line-height: 53px;
    display: inline-block;
}

.copyal {
    font-size:2em;
    position: fixed;
    left:45%;
    top:45%;
    width:8em;
    height: 2em;
    color: #FFF;
    text-align: center;
    vertical-align: center;
    padding:.5em;
    background: #ff69b4;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.35);
}

.download{
    height: 40px;
    margin: 0 5px 10px 0;
    font-size: 1.4rem;
    color: #FFF;
    text-decoration: none;
    padding: 0 10px;
    background: #ff69b4;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,0.35);
    transition: all 0.3s;
}

a.download:hover{
    background: #db7093;
}

.btn{
    color:#ff69b4;
    background-color: #fff;
    text-decoration: none;
    border:1px #ff69b4 solid;
    border-radius: 5px;
    padding:5px;
}

a.btn:hover{
    background: #db7093;
    color:#fff;
}
