body {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
    line-height: 130%;
    text-align: justify;
    font-family: "st","songti","宋体";
    background-color: #df0716;
    background-image: url("../images/futaba.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 18%;
    background-attachment: fixed;
}

h1 {
    line-height: 130%;
    text-align: center;
    font-size: xxx-large;
}

p {
    display: block;
    line-height: 1.3em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

div {
    margin: 0;
    padding: 0;
    text-align: justify;
}

details{
    margin:1em 0;

}

a{
    text-decoration: none;
}

.top{
    color:#ffffff;
    margin:0 -4em 2em -4em;
    padding:0 4em;
    background-color: #dd0055;
    width:100%;
    vertical-align: middle;
}
@keyframes mymove {
    from { transform: rotateZ(360deg); }
    to { transform: rotateZ(0deg); }
} /*定义动画样式在Z轴上旋转*/
.animation {
    animation-name: mymove; /*定义动画名称mymove*/
    animation-duration: 5s; /*动画运行时间*/
    animation-timing-function: linear; /*动画的速度曲线*/
    animation-iteration-count: infinite; /*动画的播放次数为无限*/
    -webkit-animation-name: mymove;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
} /*定义动画属性*/
#one {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 0 0 70px #e1e1e1;
    margin-top:5px;
} /*底部黑色大圆*/
#two {
    background-color: #fff;
    width: 50px;
    height: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
} /*上部白色半圆*/
#three {
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: -12.5px;
    position: relative;
} /*左侧白色小圆*/
#four {
    background-color: #000;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: -25px;
    margin-left: 25px;
    position: relative;
} /*右侧黑色小圆*/
#five {
    background-color: #000;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
} /*左侧白色小圆中的黑色圆心*/
#six {
    background-color: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
} /*右侧黑色小圆中的白色圆心*/

.head{
    text-align: center;
}

.pointer{
    cursor:pointer
}
.pointer:hover{
    text-shadow:2px 2px 2px #000000;
}

.cursor{
    border-radius: 6px;
    background-color: #07a985;
    color:#ffffff;
}

a.cursor:hover {
    background-color: #0000ff;
    color:#ffffff;
}/*鼠标悬停*/

a.cursor:active {
    padding:1px;
    box-shadow: 2px 2px 2px #000000;
}

.all{
    background-color: rgba(0,0,0,0.2);
    margin:-2em 5% auto 5%;
    padding-top:2em;
    border:2px solid #ffffff;
}

.info{
    border:4px solid #dd0055;
    border-radius:40px;
    padding:1em;
    font-family: "heiti","ht","黑体";
    font-size: 1.5em;
    margin: 1em;
    color:#ffffff;
}

.title{
    background-image: url("../images/bg_point-3.png");
    padding-left: 60px;
    background-size: 61px 79px;
    background-position: left top;
    background-repeat: no-repeat;
    margin: auto;
    font-size: 1.2em;
    text-align: center;
    color:#ffffff;
}

.title div{
    font-family: "kaiti","kt","楷体";
    font-size:1.5em;
    border: solid 1px #f4cadc;
    display: block;
    border-radius: 8px;
    padding:30px 1em;
    line-height: 1.5rem;
    width: max-content;
}

.gnxs{
    border:6px double rgba(255,255,255,0.9);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 20px;
    padding: 0.2em 1em;
    background-color: rgba(223,7,22,0.5);
    color:#ffffff;
    font-family: "kaiti", "kt", "楷体";
    font-size: 1.8em;
}

.gnxs p{
    text-indent:0;
    border-radius: 3px;
    color: #dd0055;
    font-size: 0.8em;
    font-family: "heiti","ht","黑体";
}

.gnxs img{
    height: 1em;
    margin-bottom: -.2em;
}

.code{
    margin: 0 .5em;
    padding: 2px;
    border-radius: 3px;
    font-size: .75em;
    color: #dd0055;
    background-color: #fafafa;
    border: 1px solid #ddd;
}
