* {
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 130%;
    text-align: justify;
    font-family: "st","songti","宋体";
    background-color: aqua;
    position: relative;
}

h1 {
    line-height: 130%;
    text-align: center;
}

p {
    display: block;
    line-height: 1.3em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

div {
    display: block;
}

details{
    margin:1em 0;
}

a{
    text-decoration: none;
}

#input {position: absolute;top: 0;left: 0;opacity: 0;z-index: -10;}

.topBg{
    position:absolute;
    top:0;
    left:0;
    animation:anime-topBg 8s linear infinite;
    background-size:114px 138px;
    opacity:.4;
    z-index: -1;
}
@keyframes anime-topBg{
    0%{transform:translate3d(-114px,0,0)}
    100%{transform:translate3d(0,-138px,0)}
}
.top{
    color:#ffffff;
    background-color: #dd0055;
    width:100%;
    vertical-align: middle;
}
.head{
    text-align: center;
}

.pointer{
    cursor:pointer;
    color:white;
}
.pointer:hover{
    text-shadow:2px 2px 2px #000000;
}

.cursor{
    border-radius: 6px;
    color:#ffffff;
}

a.cursor:hover {
    background-color: #07a985;
    color:#ffffff;
}/*鼠标悬停*/

a.cursor:active {
    padding:1px;
    box-shadow: 2px 2px 2px #000000;
}

#all{
    position:relative;
    background-color: rgba(0,0,0,0.1);
    margin:10px;
    border:2px solid #ffffff;
    z-index: 10;
}

.info{
    border:4px solid #dd0055;
    border-radius:40px;
    padding:1em;
    font-family: "heiti","ht","黑体";
    font-size: 1.5em;
    margin: 1em;
    color:#ffffff;
}

.title{
    background-image: url("https://s1.ax1x.com/2020/04/15/JCnLSe.png");
    padding-left: 60px;
    background-size: 61px 79px;
    background-position: left top;
    background-repeat: no-repeat;
    margin: auto;
    font-size: 1.2em;
    text-align: center;
    color:#ffffff;
}

.title div{
    font-family: "kaiti","kt","楷体";
    font-size:1.5em;
    border: solid 1px #f4cadc;
    display: block;
    border-radius: 8px;
    padding:30px 1em;
    line-height: 1.5rem;
    width: max-content;
}

#gnxs{
    font-family: "heiti", "ht", "黑体";
}

.table{
    border:6px double rgba(255,255,255,0.9);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: -0.1em 20px 20px 20px;
    padding: 0.2em 1em;
    background-color: rgba(255,7,22,0.6);
    color:#ffffff;
    font-family: "heiti", "ht", "黑体";
    font-size: 2em;
    width: 95%;
}

.tabline{
    line-height: 1em;
    border-bottom: 1px solid #ffffff;
}
.code{
    margin: 0 .5em;
    padding: 2px;
    border-radius: 3px;
    font-size: .75em;
    color: #dd0055;
    background-color: #fafafa;
    border: 1px solid #ddd;
}

.btn{
    margin: 0 .5em;
    padding: 1px;
    border-radius: 3px;
    font-size: .6em;
    color: #dd0055;
    background-color: #fafafa;
    border: 1px solid #ddd;
}

.btn:hover {
    background-color: #07a985;
    color:#ffffff;
}

.btn:active {
    padding:1px;
    box-shadow: 2px 2px 2px #000000;
}

.pagebtn{
    margin-left:5em;
}

.page {
    padding: 1px;
    border-radius: 3px;
    height:37px;
    cursor:pointer;
    font-size: 1.2em;
    color: white;
    background-color: aqua;
}

.page:hover {
    background-color: #fafafa;
    color:#000000;
}

.page:active {
    padding:1px;
}

.pageselected {
    padding: 1px;
    border-radius: 3px;
    height:37px;
    cursor:pointer;
    font-size: 1.2em;
    color: #dd0055;
    background-color: #fafafa;
}
